<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UIApplicationSceneManifest</key>
	<dict>
		<key>UIApplicationSupportsMultipleScenes</key>
		<false/>
		<key>UISceneConfigurations</key>
		<dict>
			<key>UIWindowSceneSessionRoleApplication</key>
			<array>
				<dict>
					<key>UISceneConfigurationName</key>
					<string>Default Configuration</string>
					<key>UISceneDelegateClassName</key>
					<string>$(PRODUCT_MODULE_NAME).SceneDelegate</string>
					<key>UISceneStoryboardFile</key>
					<string>Main</string>
				</dict>
			</array>
		</dict>
	</dict>
	<key>NSPhotoLibraryAddUsageDescription</key>
	<string>프로필 사진 및 목표 이미지 설정을 변경하려면 사진 앨범 액세스 허용 버튼을 클릭하십시오. 자세한 내용은 개인 정보 보호 정책을 참조하십시오.</string>
	<key>NSCameraUsageDescription</key>
	<string>프로필 사진 및 목표 이미지 설정을 변경하려면 사진 앨범 액세스 허용 버튼을 클릭하십시오. 자세한 내용은 개인 정보 보호 정책을 참조하십시오.</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>프로필 사진 및 목표 이미지 설정을 변경하려면 사진 앨범 액세스 허용 버튼을 클릭하십시오. 자세한 내용은 개인 정보 보호 정책을 참조하십시오.</string>
</dict>
</plist>
